html{
    position:relative;
    min-height:100%;
    margin:0 !important;
    padding:0 !important; 
}

body{
    margin-bottom: 70px;
}

.footer{
    position: absolute;
    left:0 !important;
    bottom: 0;
    width: 100%;
    background: #f5f5f5;
    font-size: 0.9em;
    height: 50px;
    text-align: center;
    padding-top:20px; 
}

.tabel-nav{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width:100%;
    display: block;
    justify-content: space-between;
    clear: both;
    float: left;

}

.box{
    display: inline-block;
}

.jumblah-data,.paging{
    width: 50%;
    display: block;
    height: 50px;
}

.paging{
    float: right;
    text-align: right;  
}
.pagination{
    float: right !important;
}

.jumblah-data{
    padding-top:15px; 
    float: left;
}

/* .img-logo{
    


} */

.container-logo{
    min-height: 100vh;
}

td,th,tr{
    border-top: 0 !important;
}